<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href={% static "/css/style.css" %}>
  </head>
  <body>
    <h1>Here are your users for App Two</h1>
    {% if users %}

    <ol>
      {% for person in users %}
      <li>User Info</li>
      <ul>
        <li>First_name: {{person.first_name}}</li>
        <li>Last_name: {{person.last_name}}</li>
        <li>Email: {{person.email}}</li>
      </ul>
      {% endfor %}
    </ol>

    {% endif %}
  </body>
</html>
